Flask==2.3.3
Flask-Login==0.6.3
Flask-WTF==1.0.1
WTForms==3.1.2
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.23
nltk==3.8.1
gunicorn==21.2.0

email-validator==2.1.0.post1  # For WTForms EmailField

# Optional for running in production or on platforms like Heroku
python-dotenv==1.0.1
